@model Mvc5_KutuphaneYonetimSistemi.Models.Entity.Hareket

@{
    ViewBag.Title = "OduncIade";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@using (Html.BeginForm("OduncGuncelle", "Odunc", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label>Hareket Id</label>
        @Html.TextBoxFor(k => k.Id, new { @class = "form-control" })
        <br />
        <label>Kitap Adı</label>
        @Html.TextBoxFor(k => k.Kitap.Ad, new { @class = "form-control" })
        <br />
        <label>Üye</label>
        @Html.TextBoxFor(k => k.Uyeler.Ad, new { @class = "form-control" })
        <br />
        <label>Personel</label>
        @Html.TextBoxFor(k => k.Personel1.Personel1, new { @class = "form-control" })
        <br />
        <label>Alış Tarihi</label>
        @Html.TextBoxFor(k => k.AlisTarihi, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>Normal İade Tarihi</label>
        @Html.TextBoxFor(k => k.IadeTarihi, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>Üyenin Teslim Tarihi</label>
        <input type="text" class="form-control" name="UyeGetirTarih" value="@DateTime.Now.ToShortDateString()"/>
    </div>
    <div>
        <button class="btn btn-group" style="background-color:#9d58ba; color:white">Ödünç Kitabı Geri Al</button>
    </div>


}


