@using Mvc5_KutuphaneYonetimSistemi.Models.Entity
@model List<Yazar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazarlar</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Detay</th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var item in Model)
			{
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Ad</td>
                    <td>@item.Soyad</td>
                    <td>@item.Detay</td>
                    <td>
                        @*<a href="#" class="btn btn-danger">Sil</a>*@
                        <a href="/Yazar/YazarGetir/@item.Id" class="btn btn-info">Güncelle</a>
                    </td>
                    <td>@Html.ActionLink("Sil","YazarSil", new {id = item.Id}, new {@class = "btn btn-danger", onclick ="return confirm('Silmek istediğinize emin misiniz?')"})</td>
                </tr>
			}
</table>
<a class="btn btn-primary" href="/Yazar/YazarEkle/">Yeni Yazar Ekle</a>